*{
    margin: 0;
    padding: 0;
    
}
.nav{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color:grey;
    color: white;
}
 
.name{

    text-align: left;
    margin-right: 200px;
}